# Node modules
node_modules/

# Tailwind CSS build input
assets/css/cdn.css

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Mac system files
.DS_Store

# Folder config
.vscode/

# Ignore .env files (if any)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output directories (excluding dist/css/)
/dist
!/dist/css

# Ignore lock files
package-lock.json
yarn.lock

# Ignore SASS cache
.sass-cache

# Ignore coverage results
coverage/

# Ignore npm-debug
npm-debug.log
