<footer class="bg-blue-ucn-footer">
    <div class="flex flex-col lg:flex-row items-center justify-between mx-4 space-y-0">
        <div class="flex items-center lg:ml-10">
            <img src="../assets/img/logo-ucn.svg" alt="Centro de Recursos de Aprendizaje y Acompañamiento Pedagógico" class="min-w-[300px] py-6">
        </div>
        <div class="lg:py-6 lg:mr-20">
            <div class="flex text-white text-sm">
                <div class="flex flex-col w-1/3">
                    <a class="py-3  border-b">Antofagasta</a>
                    <a class="py-3  border-b">Coquimbo</a>
                    <a class="py-3  border-b">San Pedro de Atacama</a>
                    <a class="py-3">Santiago</a>
                </div>
                <div class="w-2/3">
                    <p class="py-3  border-b">Casa Central. Angamos 0610 +56 55 2355000</p>
                    <p class="py-3  border-b">Larrondo 1281 +56 51 2209891</p>
                    <p class="py-3  border-b">Calle Gustavo Le Paige 380 +56 55 2851002</p>
                    <p class="py-3">Av. Libertador Bernardo O’Higgins 292, Of. 22 +56 2 22226216</p>
                </div>
            </div>
        </div>
    </div>
</footer>