<header class="bg-blue-ucn-header">
    <div class="flex flex-col lg:flex-row items-center justify-between mx-4 space-y-0">
        <div class="flex items-center mr-10">
            <a href="../index.html">
                <img src="../assets/img/svg/logo-craap.svg" alt="Centro de Recursos de Aprendizaje y Acompañamiento Pedagógico" class="min-w-[500px]">
            </a>
        </div>

        <nav class="flex flex-col lg:flex-row text-white space-y-0 lg:mr-10 text-sm">
            <a href="../index.html" class="p-2 lg:py-12 lg:px-4 hover:underline whitespace-nowrap">Inicio</a>
            <a href="../pages/professionals.html" class="p-2 lg:py-12 lg:px-4 hover:underline whitespace-nowrap">Profesionales del centro</a>
            <a href="../pages/students.html" class="p-2 lg:py-12 lg:px-4 hover:underline whitespace-nowrap">Estudiantes</a>
            <a href="../pages/teachers.html" class="p-2 lg:py-12 lg:px-4 hover:underline whitespace-nowrap">Docentes</a>
            <a href="../pages/community.html" class="p-2 lg:py-12 lg:px-4 hover:underline whitespace-nowrap">Comunidad UCN</a>
            <a href="https://www.noticias.ucn.cl/" target="_blank" class="p-2 lg:py-12 lg:px-4 hover:underline whitespace-nowrap">Noticias UCN</a>
        </nav>
    </div>
</header>
