.section {
    margin-bottom: 10px;
}

.title {
    cursor: pointer;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.title .icon {
    width: 29px;
    height: 29px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.description {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}

.section.open .title .icon {
    transform: rotate(180deg);
}